<!-- Footer -->
<footer class="bg-dark text-white">
    <div class="licensing">
        <small>
          This website and all of its contents are licensed using the
          <a rel="external" target="_blank" href="https://www.gnu.org/licenses/gpl-3.0.en.html">
            GNU General Public License v3.0
          </a>
        </small>
    </div>
</footer>
