<div class="bg-light text-dark">
  <div class="media bg-info text-light rounded-bottom">
    <img class="float-left align-self-center img-fluid rounded m-5" style="width: -webkit-calc(25% - 6rem); width: -moz-calc(25% - 6rem); width: calc(25% - 6rem);" src="https://avatars0.githubusercontent.com/u/47369481?s=460">
    <div class="float-right align-self-center w-75 p-5">
      <h1 class="float-left">Stephen Johnson</h1>
      <a href="https://github.com/JohnsonHStephen" class="float-right m-1"><img class="rounded" style="width: 2.5rem; height: 2.5rem;" src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"></a>
      <a href="https://www.linkedin.com/in/johnsonhstephen/" class="float-right m-1"><img class="rounded" style="width: 2.5rem; height: 2.5rem;" src="https://upload.wikimedia.org/wikipedia/commons/c/ca/LinkedIn_logo_initials.png"></a>

      <h5 class="float-left font-weight-normal w-100 text-center">I am a second-year student at Carleton University, my major is in Computer Science and a minor in Physics, with seven years of previous coding experience. I am currently searching for an eight-month Co-op position, starting May 2019.</h5>
    </div>

    <div style="clear:both"></div>
  </div>

  <div class="m-4">
    <p>I love to learn. Whenever I see something that I do not yet understand or know of, I will spend hours searching through the internet. These searches will often lead me down rabbit holes, stealing hours of my day without my notice. I recently played space engineers and found out the in-game scripting was C#, the next few days I spent learning C# and all its capabilities. Gaming was the source of my interest.</p>

    <p>Minecraft is what introduced me to programming. I wanted to develop Minecraft mods, and so I went to look up how and finding programming. My first program was using visual basic to draw a tree using the turtle drawing class. Later that month I told my Uncle, who at the time was a software developer of Netsuite, that day he went out and bought me two coding books. JavaScript For Dummies and Sams Teach Yourself Java in 24 Hours (5th Edition). Gaming started my love for coding and led me to discover my dream.</p>

    <p>I dream to develop aerospace simulations. I discovered this dream when I first played Kerbal Space Program. The desire grew when I found out about all the mods that came with it. Mods like FAR that made the aerodynamics more realistic spiked my interest. Being able to test conditions that would not be testable otherwise is extremely important. Being able to simulate the harshness and calm of space, plan routes to other planets, track interstellar objects, or anything in the vastness of space is always a challenge. These are why I am also minoring in physics, to be able to develop these simulations. There is still plenty that I do not know, including machine learning and A.I.</p>
    <p>My aptitude and love for learning and programming have shaped me into who I am today.</p>
  </div>
</div>
