<div>
  <div id="canvas"></div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.3/p5.js"></script>
  <script type="text/JavaScript" src="https://cdn.jsdelivr.net/gh/StephenHJohnson/{{name}}@latest/app.js"></script>
</div>
